# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Database
*.db

# IDE
.idea/
.vscode/
*.swp

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk

# OS
.DS_Store
Thumbs.db
